header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: #fff;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post {
    margin-bottom: 30px;
}

.post h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post p {
    font-size: 16px;
    color: #666;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e53e3e;
}

.cancel-button {
    font-size: 16px;
    color: #337ab7;
    text-decoration: none;
    margin-right: 10px;
}

.cancel-button:hover {
    text-decoration: underline;
}

.footer {
    /* margin: 0 auto; */
    flex-shrink: 0;
}
