<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to My Blog!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create a New Post</a></li>
            <li><a href="/all-posts">All posts</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<footer>
    <p>&copy; 2024 My Site</p>
</footer>
</html>