{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Blog!</h1>
    </header>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create a New Post</a></li>
            <li><a href="/all-posts">All posts</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
<hr>
<footer class="footer">
    <p>&copy; 2024 My Site. All rights reserved.</p>
</footer>
</html>